<div class="footer">
    <div class="container">
        <div class="first">
            <h4>Copmany Name</h4>
            <p>
                Nguyen Thanh University
            </p>
        </div>
        <div class="second">
            <h4>HELP</h4>
            <ul class="list">
                <li>
                    Shipping Information</li>
                <li> Returns & Exchange</li>
                <li> Terms & Conditions</li>
                <li> Privacy Policy
                </li>
            </ul>
        </div>
        <div class="third">
            <h4>HAVE A QUESTION</h4>
            <p>
                203 Fake St. Mountain View, San Francisco, California, USA</p>
            <p>+0123456789</p>
            <p>hanghung@gmail.com
            </p>
        </div>
    </div>
    <div class="copyright">
        <p>Copyright ©2023 All rights reserved | This application is made with by Thúy Hằng</p>
    </div>
</div>